{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "consistent",
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "printWidth": 100,
  "overrides": [
    {
      "files": ["config/**/*.js", "src/architecture/api/hosts.js"],
      "options": {
        "printWidth": 160
      }
    }
  ]
}
